:root
{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
/* To defining the styling for the container class generally for titles */
.container
{
    max-width: 1024px;
    margin:auto;
}
.nav-brand
{
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
}
/* Style the d-flex and its component */
.d-flex
{
    display: flex;
    flex-wrap: wrap;
}
.justify-between
{
    justify-content: space-between;
}
.text-center
{
    text-align: center;
}