:root
{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}

*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
}
/* To defining the styling for the container class generally for titles */
.container
{
    max-width: 1024px;
    margin:auto;
}
.nav-brand
{
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
}
/* Styling of icon and the main title*/

.d-flex
{
    display: flex;
    flex-wrap: wrap;
}
.justify-between
{
    justify-content: space-between;
}
/* Centralized the text where text-center class used */
.text-center
{
    text-align: center;
}
/* To define the box shadow for the button */
.border-shadow
{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}
/* Defining the roots variable */
.text-dark
{
    color: var(--dark);
}
.inline
{
    display: inline;
}
.text-light
{
color:var(--light);
}